
  @import url('https://fonts.googleapis.com/css?family=Anton&display=swap');




  .cert {
    width:50%;
  }

  .progress, .textt{
        width: 100%;
        height: 23px;
        font-size:15pt;
        vertical-align: center;
        font-weight: bold;
        text-align: left;
        background: grey;
        margin-bottom: 2%;
      
    }

    i  {
    
      color: rgb(255, 255, 255);
      text-align: left;
      margin-left: 10px;

      text-shadow: -1px 0 black, 0 2px black, 3px 0 black, 0 -1px black;

      
    }

    .cursos {
      color: rgb(0, 0, 0);s
      text-align: left;
      margin-left: 10px;
    }
    
   #col{
     font-weight: bolder;
      font-size: ;
      color: teal;

   }
   #col:hover{
     color: #962929;


   }

   iframe {
     width: 250px;
     height: 400px;
   }

  